{% extends 'base.html.twig' %}

{% block title %}Hello BDController!{% endblock %}
{% block body %}
<h1>BD</h1>

{{bd.title}}
{# <ul class="list-group">
    {% for bd in bd %}
    <li class="list-group-item">
        <p>{{bd.title}}</p>
        <small class="text-muted">{{bd.author.email}}</small>
    </li>
    {% endfor %}
</ul> #}
{% endblock %}